<!-- Modal -->
<div
    class="modal fade"
    id="markCompleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="markCompleteModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>You can only modify your own todos</p>
            </div>
        </div>
    </div>
</div>