<!-- Modal -->
<div
    class="modal fade"
    id="noauthModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="noauthModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>You need to log in to view that page</p>
            </div>
        </div>
    </div>
</div>