{{> markcompletemodal}}
<h1>ToDos</h1>
<div class="formContainer">
    <form class="form m-3" id="userSelectForm">
        <label for="userSelect">Select a User:</label>
        <select name="userSelect" id="userSelect">
            <option disabled selected>Select One</option>
        </select>
    </form>
</div>

<div id="todosContainer"></div>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
></script>
<script src="/js/todos.js"></script>