h1 {
    font-size: 3em;
    text-align: center;
}

form:not(#loginForm):not(#registerForm) {
    width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#userSelect {
    grid-column-start: 1;
}

#newTodo {
    grid-column-start: 2;
}

.formContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    margin-top: 2%;
    width: 100%;
    padding: 0 10%;
}

#todosContainer {
    display:grid;
    grid-template-columns: 1fr 1fr .12fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap: 1%;
    width: 100%;
    padding: 0 5%;
}
